body {
	text-align: center;
}

.jumbotron {
	background-image: url(../images/leftovers-banner.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron h1 {
	color: white;
}

.jumbotron p {
	color: white;
}

.pic-gallery {
	height: 12rem;
	border-radius: 100px;
}